.listItem {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid #D7D7D7;
    padding: .5rem 1rem;
}
.listItem__name {
    font-weight: bold;
}
.listItem__description {
    font-size: 0.895rem;
    color: #777777;
    padding-bottom: 1rem;
}
.listItem__price {
    font-size: .875rem;
    font-weight: bold;
}
.listItem__amount {
    display: flex;
    flex-direction: row;
    align-items: center;
}